{{#if addNewQuestion}}
  <h1>New Question</h1>
  <div class="form">
    <form>
      <fieldset class="form-group">
        <label for="content">Your Question</label>
        {{input value=content id="content" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="author">Your Name</label>
        {{input value=author id="author" class="form-control"}}
      </fieldset>

      <fieldset class="form-group">
        <label for="notes">Notes:</label>
        {{input value=notes id="notes" class="form-control"}}
      </fieldset>

      <button class="button" {{action 'saveQuestion'}}>Save</button>
    </form>
  </div>
  {{else}}
  <button class="button btn-blue" {{action 'questionFormShow'}}>New Question</button>
  {{/if}}
