{{#each sortedQuestions as |question|}}
  <div class="question">
    <h3 class="question-link">{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</h3>
    <p>By: {{question.author}}</p>
    {{#if isContentShowing}}
      <p{{action 'contentHide'}}>Notes: {{question.notes}}</p>
      <p{{action 'contentHide'}}>Submitted on: {{question.date}}</p>

    {{else}}
      <button class="btn-fake" {{action 'contentShow'}}>Show Additional Notes</button>
    {{/if}}
      <div class="border"></div>
  </div>
{{/each}}
