<h2>{{question.content}}</h2>
  <p>{{question.author}}</p>
  <p>{{question.notes}}</p>
  <p>submitted: {{question.date}}</p>

  <button class="btn btn-default delete" {{action 'delete' question}}>Delete Question</button>
