{{#if updateQuestionForm}}
  <h4>Update {{question.content}}</h4>
    <div>
      <form>
        <fieldset class="form-group">
          <label for="content">Your Question:</label>
          {{input value=content id="content" placeholder=question.content class="form-control"}}
        </fieldset>

        <fieldset class="form-group">
          <label for="author">Your Name:</label>
          {{input value=author id="author" placeholder=question.author class="form-control"}}
        </fieldset>

        <fieldset class="form-group">
          <label for="notes">Your Notes:</label>
          {{input value=notes id="notes" placeholder=question.notes class="form-control"}}
        </fieldset>

        <button class="btn btn-default" {{action 'updateQuestion' question}}>Save</button>
      </form>
    </div>
    {{else}}
      <button class="btn btn-default" {{action 'updateQuestionForm'}}>Edit Question</button>
    {{/if}}
